.mainHeading {
    border: 5px #006400 solid;
    background-color: #09B369;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.mainHeadingText {
    text-align: center;
    color: #006300;
    font-weight: bold;
}

.centerImage {
    margin-left: 50%;
    margin-right: 50%;
    border: 5px #006400 solid;
    width: 700px;
    height: 500px;
}

.centerDiv {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
    color: #006300;
}